<div class="about-container surface-0 p-6 text-center md:text-left">
  <div class="grid">
    <div class="col-12 md:col-5 flex justify-content-center align-items-center">
      <img
        src="assets/images/profile1.jpg"
        alt="Profile"
        class="about-img shadow-3"
      />
    </div>

    <div class="col-12 md:col-7">
      <h2 class="text-3xl font-bold text-primary mb-3">About Me</h2>
      <p class="text-lg mb-3 text-color-secondary">
         Hi, I’m <strong>Mahmoud Hussein</strong>, a Front-End Developer with
        a strong passion for building modern, responsive, and user-friendly web
        applications, specializing in. <strong>Angular</strong>.
      </p>
      <p class="mb-3 text-gray-700">
        I enjoy turning complex problems into clean, elegant solutions and
        constantly aim to improve my skills through continuous learning and
        hands-on experience .
      </p>
      <p class="text-gray-700">
        My mission is to turn ideas into digital products that inspire users and
        bring real business value .
      </p>

      <button
        pButton
        label="Download CV"
        icon="pi pi-download"
        class="mt-4 p-button-outlined p-button-primary"
      ></button>
    </div>
  </div>
</div>
